# Ignore virtual environment
venv/
.env/
.venv/

# Byte-compiled / cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# IDE / editor configs
.vscode/
.idea/
*.swp
